# Required
PRIVATE_KEY=BG67WfEX3m56QMXnK6scq2fcenRfgzqKjgszAiE2XWPunWmYxwAY9BkbnRWGH7Ed8yYpm1TAyJ2dkUxT5eDvg4i

# Optional
RPC_URL=https://api.mainnet-beta.solana.com
LOG_LEVEL=info  # debug, info, warn, error
